        <div class="contact-footer-wrapper">
            <ul>
                <img class="contact-footer-logo" src="/img/light-shade-logo.svg" alt="Light + Shade Logo">
            </ul>
            <ul>
                <li><img class="contact-footer-icon" src="/img/light-shade-plus.svg" alt="Light + Shade Plus"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                <li><img class="contact-footer-icon" src="/img/light-shade-plus.svg" alt="Light + Shade Plus"><a href="tel:0733578282">{{ site.phone }}</a></li>
            </ul>
            <ul>
                <li><img class="contact-footer-icon" src="/img/light-shade-plus.svg" alt="Light + Shade Plus">{{ site.office-brisbane }}</li>
                <li><img class="contact-footer-icon" src="/img/light-shade-plus.svg" alt="Light + Shade Plus">{{ site.office-sydney }}</li>
                <li><img class="contact-footer-icon" src="/img/light-shade-plus.svg" alt="Light + Shade Plus">{{ site.office-melbourne }}</li>
            </ul>
            <ul class="contact-footer-social-icons">
                <li><a href="https://www.facebook.com/Light-and-Shade-Media-Pty-Ltd-194218507268302/" target="_blank"><img src="/img/facebook.svg" alt="Facebook"></a></li>
                <li><a href="https://www.instagram.com/lightandshademedia/" target="_blank"><img src="/img/instagram.svg" alt="Instagram"></a></li>
                <li><a href="https://vimeo.com/170107553" target="_blank"><img src="/img/vimeo.svg" alt="Vimeo"></a></li>
            </ul>
            <span>Copyright 2016 Light + Shade Media</span>
        </div>