<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>

    <div class="fullscreen-menu">
        <div class="mobile-menu">
            <img id="mobile-menu-button" src="/img/light-shade-plus.svg" alt="Light + Shade Plus"><a class="white return-button" href="{{ site.baseurl }}">Return Home</a>
            <ul id="mobile-menu-display">
                <li><a href="/about">About</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/post-production">Post Production</a></li>
            </ul>
        </div>
    </div>