{% include team-back.html %}

{% include scripts.html %}


    <main class="page-layout-wrapper">

        <div class="row">
            <div class="col-2">
                <img src="{{ page.profile-image }}" alt="{{ page.title }}">
            </div>
            <div class="col-3">
                <div class="col-5">
                    <h2>{{ page.title }}</h2>
                    <h3>{{ page.role }}</h3>
                    <p>{{ content }}</p>
                    <h3 class="{{ page.show-work }}">{{ page.title | truncatewords: 1, "" }}'s Work</h3>
                </div>
                {% for video in page.profile-work %}
                <div class="{{ page.disable-video }} col-8 {{ page.show-work }}">
                  <a href="{{ video.number }}" data-vbtype="{{ page.gallery-type }}" class="mediabox">
                    <div class="video-thumbnail" id="button{{ video.id }}" style="background-image: url('{{ video.image }}');"><i class="material-icons md-36">&#xE039;</i></div>
                  </a>
                </div>
                {% endfor %}
            </div>
        </div>

    </main>

{% include scripts.html %}

<script>

    $('.mediabox').venobox();

</script>
