<div class="m-scene" id="main">
    <div class="m-header scene_element scene_element--fadeindown">

        {% include header.html %}

            <main class="work-layout-wrapper">

                <div class="row no-spacing">
                    {% assign sorted_work = site.work | sort:"position" %}
                    {% for work in sorted_work %}
                        <div class="col-8 no-spacing">
                            <div class="work-layout-hover">
                                <a href="{{ work.url }}">
                                    <div style="background-image: url('{{ work.thumbnail-image }}');" class="work-thumbnail" src="{{ work.thumbnail-image }}" alt="{{ work.title }}"></div>
                                    <h2>{{ work.title }}</h2>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <a class="work-layout-see-more" href="{{ site.see-more }}" target="_blank"><h1>Want To See More?</h1></a>

            </main>

        {% include scripts.html %}
        {% include google-maps.html %}
        {% include contact.html %}
        {% include footer.html %}

    </div>
</div>
